<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hank.harvest.mapper.AuthorityMapper">

    <resultMap id="basicMap" type="org.hank.harvest.domain.Authority">
        <id property="id" column="ID"/>
        <result property="type" column="Type"/>
    </resultMap>

    <sql id="basicColumns">
        ID,
        TYPE
    </sql>

    <select id="find" resultMap="basicMap">
        SELECT <include refid="basicColumns"/>
        FROM authority
        WHERE ID = #{id}
    </select>

</mapper>