<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hank.harvest.mapper.CompanyMapper">

    <resultMap id="summaryMap" type="org.hank.harvest.domain.Company">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="rating" column="Rating"/>
    </resultMap>

    <resultMap id="displayMap" type="org.hank.harvest.domain.Company">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="type" column="Type"/>
        <collection property="cities" ofType="org.hank.harvest.domain.City">
            <id property="id" column="City_ID"/>
            <result property="name" column="City_Name"/>
        </collection>
    </resultMap>

    <resultMap id="wholeMap" type="org.hank.harvest.domain.Company">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="type" column="Type"/>
        <result property="description" column="Description" jdbcType="LONGVARCHAR"/>
        <result property="rating" column="Rating"/>
        <collection property="jobs" ofType="org.hank.harvest.domain.Job">
            <id property="id" column="Job_ID"/>
            <result property="name" column="Job_Name"/>
        </collection>
        <collection property="cities" ofType="org.hank.harvest.domain.City">
            <id property="id" column="City_ID"/>
            <result property="name" column="City_Name"/>
        </collection>
    </resultMap>

    <sql id="displayColumns">
        company.ID as ID,
        company.Name as Name,
        company.Type as Type,
        city.ID as City_ID,
        city.Name as City_Name
    </sql>

    <sql id="wholeColumns">
        company.ID as ID,
        company.Name as Name,
        company.Type as Type,
        company.Description as Description,
        company.Rating as Rating,
        job.ID as Job_ID,
        job.Name as Job_Name,
        city.ID as City_ID,
        city.Name as City_Name
    </sql>

    <select id="selectTopRating" resultMap="summaryMap">
        SELECT ID, Name, Rating
        FROM company
        ORDER BY Rating DESC
        LIMIT #{topNum}
    </select>

    <select id="selectByConditions" resultMap="displayMap">
        SELECT <include refid="displayColumns"/>
        FROM company, city, company_city
        WHERE company.ID = company_city.Company_ID AND city.ID = company_city.City_ID
        <if test="companyConditions.type != null">
            AND company.Type = #{companyConditions.type}
        </if>
        <if test="companyConditions.keyword != null">
            <bind name="keyword" value="'%' + companyConditions.keyword + '%'"/>
            <![CDATA[
            AND (company.Name LIKE #{keyword} OR city.Name LIKE #{keyword})
            ]]>
        </if>
        GROUP BY company.Name
    </select>

    <select id="selectOne" resultMap="wholeMap">
        SELECT <include refid="wholeColumns"/>
        FROM company LEFT JOIN job ON company.ID = job.Company_ID, city, company_city
        WHERE company.ID = company_city.Company_ID AND city.ID = company_city.City_ID
        AND company.ID = #{id}
    </select>

</mapper>