<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hank.harvest.mapper.CompanyMapper">

    <resultMap id="summaryMap" type="org.hank.harvest.domain.Company">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="rating" column="Rating"/>
    </resultMap>

    <select id="selectTopRating" resultMap="summaryMap">
        SELECT ID, Name, Rating
        FROM company
        ORDER BY Rating DESC
        LIMIT #{topNum}
    </select>

</mapper>