<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hank.harvest.mapper.ProcessMapper">

    <resultMap id="wholeMap" type="org.hank.harvest.domain.Process">
        <id property="id" column="ID"/>
        <result property="status" column="Status"/>
        <association property="user" javaType="org.hank.harvest.domain.User">
            <id property="id" column="User_ID"/>
            <result property="name" column="User_Name"/>
        </association>
        <association property="job" javaType="org.hank.harvest.domain.Job">
            <id property="id" column="Job_ID"/>
            <result property="name" column="Job_Name"/>
        </association>
    </resultMap>

    <sql id="wholeColumns">
        process.ID as ID,
        process.Status as Status,
        user.ID as User_ID,
        user.Name as User_Name,
        job.ID as Job_ID,
        job.Name as Job_Name
    </sql>

    <select id="findIndirectByUserID" resultMap="wholeMap">
        SELECT <include refid="wholeColumns"/>
        FROM process LEFT JOIN user ON user.ID = process.User_ID
        LEFT JOIN job On job.ID = process.Job_ID
        AND user.ID = #{userID}
    </select>

</mapper>