<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hank.harvest.mapper.UserDetailMapper">

    <resultMap id="basicMap" type="org.hank.harvest.domain.UserDetail">
        <id property="id" column="ID"/>
        <result property="age" column="Age"/>
        <result property="sex" column="Sex"/>
        <result property="phone" column="Phone"/>
        <result property="qq" column="QQ"/>
        <result property="address" column="Address"/>
        <result property="postcode" column="Postcode"/>
    </resultMap>

    <sql id="basicColumns">
        Age,
        Sex,
        Phone,
        QQ,
        Address,
        Postcode
    </sql>

    <select id="selectOne" resultMap="basicMap">
        SELECT ID, <include refid="basicColumns"/>
        FROM user_detail
        WHERE ID = #{id}
    </select>

    <select id="selectOneIndirectByUserID" resultMap="basicMap">
        SELECT user.ID, <include refid="basicColumns"/>
        FROM user, user_detail
        WHERE user.Detail_ID = user_detail.ID
        AND user.ID = #{userID}
    </select>

</mapper>