<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Loading Bootstrap -->
    <link href="../../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Loading Flat UI -->
    <link href="../../static/dist/css/flat-ui.min.css" th:href="@{/dist/css/flat-ui.min.css}" rel="stylesheet"/>

    <link rel="shortcut icon" href="../../static/dist/img/harvest.ico" th:href="@{/dist/img/harvest.ico}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-lg navbar-static-top" role="navigation" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Harvest Online</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">我的档案</a></li>
                <li><a href="#contact">公司</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">待定<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form action="/register" method="get" class="navbar-form navbar-right" role="form">
                    <button type="submit" class="btn btn-danger">注册</button>
                </form>

                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="账号" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-success">登录</button>
                </form>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">


</div>
<!-- /.container -->

<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="../../static/dist/js/vendor/jquery.min.js" th:src="@{/dist/js/vendor/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/dist/js/vendor/video.js" th:src="@{/dist/js/vendor/video.js}"></script>
<script src="../../static/dist/js/vendor/application.js" th:src="@{/dist/js/vendor/application.js}"></script>
<script src="../../static/dist/js/flat-ui.min.js" th:src="@{/dist/js/flat-ui.min.js}"></script>
</body>
</html>