<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../../static/dist/css/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/dist/css/flat-ui.min.css"
          th:href="@{/dist/css/flat-ui.min.css}"/>
    <link rel="stylesheet" href="../../static/sb-admin2/dist/css/sb-admin-2.css"
          th:href="@{/sb-admin2/dist/css/sb-admin-2.css}"/>
    <link rel="stylesheet" href="../../static/sb-admin2/bower_components/font-awesome/css/font-awesome.min.css"
          th:href="@{/sb-admin2/bower_components/font-awesome/css/font-awesome.min.css}"/>

    <link rel="shortcut icon" href="../../static/dist/img/harvest.ico"
          th:href="@{/dist/img/harvest.ico}"/>
</head>
<body>
<div class="navbar-inverse sidebar" role="navigation" th:fragment="side_navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav">
            <li>
                <a href="/management/password"><i class="fa fa-lock fa-fw"></i>修改密码</a>
            </li>
            <li>
                <a href="/management/detail"><i class="fa fa-user fa-fw"></i>个人信息</a>
            </li>
            <li>
                <a href="/management/message"><i class="fa fa-envelope fa-fw"></i>消息中心</a>
            </li>
            <li>
                <a href="/management/authority"><i class="fa fa-certificate fa-fw"></i>个人权限</a>
                <div th:if="${authority}" th:switch="${authority.id}">
                    <ul class="nav" th:case="1" style="padding-left: 37px">
                        <li><a>公司管理</a></li>
                        <li><a>备份数据库</a></li>
                        <li><a>员工管理</a></li>
                        <li><a>职位管理</a></li>
                    </ul>
                    <ul class="nav" th:case="2" style="padding-left: 37px">
                        <li>
                            <a href="/management/authority/resume"><i class="fa fa-file fa-fw"></i>简历档案</a>
                        </li>
                        <li>
                            <a href="/job"><i class="fa fa-send fa-fw"></i>投递简历</a>
                        </li>
                        <li>
                            <a href="/management/authority/process"><i class="fa fa-search fa-fw"></i>求职进度查询</a>
                        </li>
                    </ul>
                    <ul class="nav" th:case="3" style="padding-left: 37px">
                        <li><a>公司认证</a></li>
                        <li><a>发布职位</a></li>
                        <li><a>求职进度跟进</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>