<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Harvest——收获你的职场人生</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Loading Bootstrap -->
    <link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Loading Flat UI -->
    <link href="../static/dist/css/flat-ui.min.css" th:href="@{/dist/css/flat-ui.min.css}" rel="stylesheet"/>

    <link rel="shortcut icon" href="../static/dist/img/harvest.ico" th:href="@{/dist/img/harvest.ico}"/>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>

<div class="container">


</div>
<!-- /.container -->

<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="../static/dist/js/vendor/jquery.min.js" th:src="@{/dist/js/vendor/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/dist/js/vendor/video.js" th:src="@{/dist/js/vendor/video.js}"></script>
<script src="../static/dist/js/vendor/application.js" th:src="@{/dist/js/vendor/application.js}"></script>
<script src="../static/dist/js/flat-ui.min.js" th:src="@{/dist/js/flat-ui.min.js}"></script>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>