<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/dist/css/flat-ui.min.css"
          th:href="@{/dist/css/flat-ui.min.css}"/>
    <link rel="stylesheet" href="../static/sb-admin2/dist/css/sb-admin-2.css"
          th:href="@{/sb-admin2/dist/css/sb-admin-2.css}"/>
    <link rel="stylesheet" href="../static/sb-admin2/bower_components/font-awesome/css/font-awesome.min.css"
          th:href="@{/sb-admin2/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <title th:text="|Harvest——消息${message.title}|"></title>
    <link rel="shortcut icon" href="../static/dist/img/harvest.ico"
          th:href="@{/dist/img/harvest.ico}"/>
    <link rel="stylesheet" href="../static/css/font.css"
          th:href="@{/css/font.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="margin-bottom: 60px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">管理中心</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <div th:include="fragments/side_navigation :: side_navigation"></div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info panel-body">
                    <h3 class="font_blue" th:text="|邮件标题 ：${message.title}|"></h3>
                    <a th:href="@{/talent/{id}/(id = ${message.sender.id})}" th:text="|发送方 ：${message.sender.email} ${message.sender.name}|"></a><br/>
                    <a th:href="@{/talent/{id}/(id = ${message.receiver.id})}" th:text="|接收方 ：${message.receiver.email} ${message.receiver.name}|"></a>
                    <div th:text="|寄件时间 ：${#calendars.format(message.createTime, 'yyyy年MM月dd日HH时mm分ss秒')}|"></div>
                    <div>
                        详细内容：
                        <pre th:text="${message.content}"></pre>
                    </div>
                    <a href="/management/message" class="btn btn-primary btn-block">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="../static/dist/js/vendor/jquery.min.js" th:src="@{/dist/js/vendor/jquery.min.js}"></script>
<script src="../static/dist/js/vendor/jquery.cookie.js" th:src="@{/dist/js/vendor/jquery.cookie.js}"></script>
<script src="../static/dist/js/flat-ui.min.js" th:src="@{/dist/js/flat-ui.min.js}"></script>
<script src="../static/js/harvest.js" th:src="@{/js/harvest.js}"></script>
</body>
</html>