<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Harvest——注册</title>

    <!-- Loading Bootstrap -->
    <link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="../static/dist/css/demo.css"
          th:href="@{/dist/css/demo.css}" rel="stylesheet"/>

    <!-- Loading Flat UI -->
    <link href="../static/dist/css/flat-ui.min.css"
          th:href="@{/dist/css/flat-ui.min.css}" rel="stylesheet"/>

    <link href="../static/dist/img/harvest.ico"
          th:href="@{/dist/img/harvest.ico}" rel="shortcut icon"/>

    <style>
        .login {
            margin-top: 100px;
        }
        .login-form {
            margin-top: -50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <img src="../static/dist/img/harvest.ico"
                     th:src="@{/dist/img/harvest.ico}" alt="Welcome to Harvest Online"/>
                <h4>欢迎来到
                    <small>Harvest Online</small>
                </h4>
            </div>

            <div class="login-form">
                <div class="form-group">
                    <input type="text" class="form-control login-field" value="" placeholder="邮箱地址"
                           id="login-email"/>
                    <label class="login-field-icon fui-mail" for="login-email"></label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control login-field" value="" placeholder="输入密码"
                           id="login-pass"/>
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control login-field" value="" placeholder="真实姓名"
                           id="login-user"/>
                    <label class="login-field-icon fui-user" for="login-user"></label>
                </div>

                <div class="form-group">
                    <select class="form-control login-field" id="login-type">
                        <option value="0">求职</option>
                        <option value="1">招聘</option>
                    </select>
                    <label class="login-field-icon fui-star" for="login-type"></label>
                </div>

                <a class="btn btn-primary btn-lg btn-block" href="#" id="login-submit">注册</a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="../static/dist/js/vendor/jquery.min.js" th:src="@{/dist/js/vendor/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/dist/js/vendor/video.js" th:src="@{/dist/js/vendor/video.js}"></script>
<script src="../static/dist/js/vendor/application.js" th:src="@{/dist/js/vendor/application.js}"></script>
<script src="../static/dist/js/flat-ui.min.js" th:src="@{/dist/js/flat-ui.min.js}"></script>
<script src="../static/js/register.js" th:src="@{/js/register.js}"></script>
</body>
</html>