<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Loading Bootstrap -->
    <link rel="stylesheet" href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Loading Flat UI -->
    <link rel="stylesheet" href="../static/dist/css/flat-ui.min.css"
          th:href="@{/dist/css/flat-ui.min.css}"/>

    <link rel="shortcut icon" href="../static/dist/img/harvest.ico"
          th:href="@{/dist/img/harvest.ico}"/>

    <title th:text="|Harvest——人才/${talent.name}|"></title>

    <link rel="stylesheet" href="../static/css/talent_id.css"
          th:href="@{/css/talent_id.css}"/>
    <link rel="stylesheet" href="../static/css/font.css"
          th:href="@{/css/font.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" id="talent-id">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">人才档案</h3>
        </div>

        <div class="panel-body" id="talent-id-body">
            <h1 th:text="${talent.name}"></h1>
            <div>
                <div class="col-md-6">
                    <label class="label label-info" th:text="${talent.authority.name}"></label>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-block">发送消息</a>
                </div>
            </div>
            <div>
                <h3>基本信息 ：</h3>

                <p class="panel panel-info panel-body" th:object="${talent.detail}" th:if="${talent.detail} != null">
                    <span th:text="|年龄 ：| + (*{age} != null ? *{age} : ' ')"></span><br/>
                    <span th:text="|性别 ：| + (*{sex} != null ? *{sex} : ' ')"></span><br/>
                    <span th:text="|手机号码 ：| + (*{phone} != null ? *{phone} : ' ')"></span><br/>
                    <span th:text="|QQ号码 ：| + (*{qq} != null ? *{qq} : ' ')"></span><br/>
                    <span th:text="|居住地址 ：| + (*{address} != null ? *{address} : ' ')"></span><br/>
                    <span th:text="|地址邮编 ：| + (*{postcode} != null ? *{postcode} : ' ')"></span>
                </p>
            </div>

            <div th:switch="${talent.authority.id}">
                <div th:case="1">
                    <h3 class="font_red">您是万能的管理员!</h3>
                </div>
                <div th:case="2">
                    <h3>简历信息 ：</h3>

                    <div class="panel panel-info panel-body font_orange" th:object="${talent.resume}"
                       th:if="${talent.resume} != null">
                        <span th:text="|学历 ：| + (*{graduation} != null ? *{graduation} : ' ')"></span><br/>
                        <span th:text="|毕业高校 ：| + (*{school} != null ? *{school} : ' ')"></span><br/>
                        <span th:text="|岗位意向 ：| + (*{jobIntention} != null ? *{jobIntention} : ' ')"></span><br/>
                        <span th:text="|求职类别 ：| + (*{type} != null ? *{type} : ' ')"></span><br/>
                        <span th:text="|求职职位性质 ：| + (*{category} != null ? *{category} : ' ')"></span><br/>
                        <span th:text="|工作经验 ：| + (*{experience} != null ? *{experience} : ' ')"></span><br/>
                        <div>
                            <span>教育经历 ：</span><br/>
                            <pre class="panel panel-info panel-body" th:text="(*{educationExperience} != null ? *{educationExperience} : ' ')"></pre>
                        </div>
                        <div>
                            <span>实习经历 ：</span><br/>
                            <pre class="panel panel-info panel-body" th:text="(*{internExperience} != null ? *{internExperience} : ' ')"></pre>
                        </div>
                        <div>
                            <span>项目经验 ：</span><br/>
                            <pre class="panel panel-info panel-body" th:text="(*{projectExperience} != null ? *{projectExperience} : ' ')"></pre>
                        </div>
                        <div>
                            <span>竞争技能 ：</span><br/>
                            <pre class="panel panel-info panel-body" th:text="(*{skills} != null) ? *{skills} : ' '"></pre>
                        </div>
                    </div>
                </div>
                <div th:case="3">
                    <h3 class="font_blue">所属公司：
                        <a th:text="${talent.company.name}" th:href="@{/company/{id}/(id = ${talent.company.id})}"></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="../static/dist/js/vendor/jquery.min.js" th:src="@{/dist/js/vendor/jquery.min.js}"></script>
<script src="../static/dist/js/flat-ui.min.js" th:src="@{/dist/js/flat-ui.min.js}"></script>

<script src="../static/js/harvest.js" th:src="@{/js/harvest.js}"></script>
</body>
</html>